body {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: smaller;
}
table {
    border-collapse: collapse;
}
td {
    text-align: center;
    padding: 5px;
    border: 1px solid #000000;
}
th {
    padding: 0 5px;
}
tfoot th {
    background-color: #c1c1c1;
    padding: 5px;
    border: 1px solid #000000;
}
.expert {
    background-color: #26C1FB;
}
.proficient {
    background-color: #86CE21;
}
.novice {
    background-color: #FFC200;
}