<?php
return [
    'settings' => [
        'displayErrorDetails' => false, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        // Renderer settings
        'renderer' => [
            'template_path' => __DIR__ . '/../templates/',
            'cache_path' => false
        ],

        // Monolog settings
        'logger' => [
            'name' => 'slim-app',
            'path' => isset($_ENV['docker']) ? 'php://stdout' : __DIR__ . '/../logs/app.log',
            'level' => \Monolog\Logger::DEBUG,
        ],

        'pluralsight' => [
            'cache' => __DIR__ . '/../cache/',
            'order' => [
                'php','mysql','html5','javascript','jquery','css','domain-driven-design','git','web-application-security','security-fundamentals','server-maintenance-fundamentals','linux-administration','linux-fundamentals','networking-fundamentals-n10-007','devops','the-scrum-framework'
            ],
            'recent_to_show' => 20,
            'userSheet' => ['184uMUzfb7QVKNi6qBi2rXoGMwtIte_B95aAzOLqoZPE'],  //https://docs.google.com/spreadsheets/d/184uMUzfb7QVKNi6qBi2rXoGMwtIte_B95aAzOLqoZPE/edit
            'users' => [],   //user-id ex. 6003f2f8-23e4-4711-aecd-e84f0a7e40a4
            'usersDetails' => ['user-id' => ['name'=>'John Doe']]   //user-id as key
        ],

        //Google sign in client ID - generate here https://developers.google.com/identity/sign-in/web/sign-in
        'google' => [
            'clientId' => 'GOOGLE_APP_ID.apps.googleusercontent.com',
        ],

        //These users after login see user details
        'users' => [
            'admin@example.com'
        ],

        //These domain user see more data
        'domains' => [
            'example.com'
        ]
    ],
];
